<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            Sign Language Recognition
        </title>
    </head>
    <body>
        <h1>
            <strong>
                Sign Language Recognition
            </strong>
        </h1>
        <div>
            <img src="{{ url_for('video_feed') }}" width="90%"/>
        </div> 
        <div class="ans" id="ans">
            <h2>
                result
            </h2>
        </div>       
    </body>
</html>